/* Tamaños Pantallas 🖥️ 📺 📱
  --minCelular: 576px;
  --minTablet: 768px;
  --minPantalla: 992px;
  --minPantallaGrande: 1200px;
  --minPantallaGigante: 1920px;
  */

@import "tailwindcss";

:root {
  --background: #5c76c6;
  --foreground: #171717;
  --rojofuente: rgb(255, 57, 57);

  --minCelular: 576px;
  --minTablet: 768px;
  --minPantalla: 992px;
  --minPantallaGrande: 1200px;
  --minPantallaGigante: 1920px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/background.png");
  /*background: var(--background);*/
  color: var(--foreground);
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.contenedorInicio {
  width: 70vw;
}

.enlaces {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70vw;
  flex-wrap: wrap;
  /* margin-left: 15vw;*/

  .elemento {
    margin: 1em;
    flex: 1;
    text-align: center;
  }
}

.info {
  color: var(--rojofuente);
  text-align: center;
  width: 98vw;
  margin: 3em 0 2em 0;

  .nombre {
    font-size: 1.2em;
  }
}

.paginaProyecto {
  p {
    margin-top: 1em;
  }

  ul {
    list-style: circle;
  }

  a,
  a:visited,
  a:active {
    color: var(--rojofuente);
  }

  padding: 0 2em;

  .titulo {
    text-align: center;
    color: var(--rojofuente);
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 2em;
    color: var(--rojofuente);
  }

  .descripcion {
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .imagenProyectoPag {
    margin: 0 auto;
  }
  .enlaceDescarga {
    text-align: right;
    font-size: 0.9em;
    margin-right: 3em;
  }
  .texto {
    width: 70vw;
    margin: 3em 3em;
  }
}

@media screen and (min-width: --minTablet) {
  .info {
    margin: 0 0 2em 0;
  }
}
