.nombre {
  text-align: center;
  margin: 3em 0 0 0;
  font-size: 1.2em;
  color: var(--rojofuente);
}

.intro {
  width: 70vw;
  margin: 2em auto;
  font-family: system-ui;
  font-style: normal;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.columna {
  margin-bottom: 1em;
  flex-basis: 46%;
  padding: 2em 3em;
  border: 1px solid var(--rojofuente);
}

.link {
  color: var(--rojofuente);
  margin-top: 1em;
  font-weight: 400;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    width: 90vw;
    background-color: black;
  }

  .columna {
    flex-basis: 100%;
    padding: 1em;
    margin-bottom: 2em;
  }
}
