.proyectoCuerpo {
  width: 84vw;
  color: white;
  text-align: center;
  position: fixed;
  top: 35vh;
  right: 8vw;
  padding: 2em;
  background-color: #eb4c43eb;
}

.titulo {
  font-size: 1.2em;
  font-weight: 400;
}

.año {
  font-size: 0.9em;
}

.descripcion {
  margin: 1em 0;
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  .proyectoCuerpo {
    width: 24vw;
    top: 5em;
    right: 7vw;
    line-height: 1.4em;
    top: 5em;
    right: 9vw;
    color: var(--rojofuente);
    background-color: transparent;
    text-align: center;
    line-height: 1em;
  }

  .descripcion {
    margin: 1em 0;
    font-size: 0.9em;
  }
}
